<div>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non facilisis orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus vestibulum vehicula condimentum. Nullam dictum rutrum commodo. 
  </p>  
</div>
<div fxLayout="row wrap">
  <a routerLink="/page1">
    <mat-card>
      <mat-card-title>Form Controls</mat-card-title>
      <mat-card-content>Controls that collect and validate user input.</mat-card-content>    
    </mat-card>
  </a>
  <a routerLink="/page2">
    <mat-card>
      <mat-card-title>Navigation</mat-card-title>
      <mat-card-content>Menus, sidenavs and toolbars that organise your content.</mat-card-content>    
    </mat-card>
  </a>
  <a routerLink="/page3">
    <mat-card>
      <mat-card-title>Buttons & Indicators</mat-card-title>
      <mat-card-content>Buttons, toggles, status and progress indicators.</mat-card-content>    
    </mat-card>
  </a>
  <a routerLink="/page2">
    <mat-card>
      <mat-card-title>Layout</mat-card-title>
      <mat-card-content>Essential building blocks for presenting your content.</mat-card-content>    
    </mat-card>
  </a>
  <a routerLink="/page2">
    <mat-card>
      <mat-card-title>Popups & Modals</mat-card-title>
      <mat-card-content>Floating components that can be dynamically shown or hidden.</mat-card-content>    
    </mat-card>
  </a>
  <a routerLink="/page2">
    <mat-card>
      <mat-card-title>Data table</mat-card-title>
      <mat-card-content>Tools for displaying and interacting with tabular data.</mat-card-content>    
    </mat-card>
  </a>  
</div>