Just some content to scroll around...
        <div>   
          <h3>Requirements:</h3>
          <h4>General</h4>
          <ul>
            <li>Contents scrollbar should not cover primary toolbar on wide screens, but is allowed to do so on smaller screens</li>
            <li>Keep primary and secondary toolbars "connected" when resizing</li>
          </ul>
          <h4>Sidenav</h4>
          Wide screens:
          <ul>          
            <li><del>Fixed side nav</del></li>
            <li><del>Sidenav in a box</del></li>
            <li><del>Narrow scrollbar to scroll sidenav contents</del></li>
          </ul>

          Small screens:
          <ul>          
            <li>Open sidenav via secondary toolbar burger button</li>
            <li>slide over behavior</li>          
          </ul>
        </div>